@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

input:focus-visible, textarea:focus{
  @apply outline-none
}

.footer>span{
  @apply cursor-pointer hover:underline underline-offset-1
}

/* https://www.instagram.com/accounts/login/?next=%2Faccount%2Flogin%2F&source=desktop_nav */